<!-- base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock %}</title>
  <!-- Bootstrap core CSS -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <base href="/">  -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
  <!-- <div class="page-header h-100">
    Convert anything to speech
  </div>
  <div class="container"> -->
    <center><h2 class="p-4 bg-primary text-white"><b>Convert </b></h2></center>
    
    {% block body %}
    {% endblock %}
    
  
  <footer class="footer fixed-bottom ml-4">
    <p>© 2020 Text To Speech</p>
  </footer>
</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  
  
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  
</body>

</html>